.account-item{
    background-color: #d1d8e0;
    padding: 40px;
}
.account-item a{
    text-transform: uppercase;
    line-height: 40px;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
    display: block;
}
.account-item a:hover{
    color: #778ca3;
    text-decoration: none;
}
.account-item img{
    width: 35px;
}

/*
Footer Anne version 2
 */


.container
{
    border: 1px solid lightpink;
    width: 90%;
    margin: 0 auto;
    display : flex;
    justify-content: space-between;
}

.Footer
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 1px solid grey;
    max-width: 180px;
    min-height: 220px;
    text-align: center;
    margin: 1%;
    line-height: 50px;
}
.footer1,.footer2,.footer3
{
    flex:auto;
}
ul
{
    font-size: 15px;
    text-align: justify;
}
.container2
{
    border: 1px solid lightpink;
    max-width: 90%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    height: 40px;
}
.footer4
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    color:dimgrey;
}

.res, .pol, .cgu{
    text-align: justify;
}
/*
galerie Anne
 */

.galerie {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.img7, .imgart1,.imgart5, .imgart2, .imgart4, .img6 {
    height: 160px;
    width: 250px;}
.img7{
    border: 2px solid black;
}
.imgart1{
    border: 2px solid darkred;
}
.imgart5{
    border: 2px solid darkorange;
}
.imgart2{
    border: 2px solid lightgreen;
}
.imgart4{
    border: 2px solid lightgrey;
}
.img6{
    border: 2px solid beige;
}



