
{% extends 'base.html.twig' %}
{% block javascript %}

{% endblock %}

{% block title %}Paiement de ma commande - La Boutique Française{% endblock %}

{% block contenu %}

    <h2>Mon récapitulatif</h2>
    <p>Verifier vos informations avant de payer votre commande. </p>
    <hr>


{% endblock %}